<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GlobalProperties</key>
	<dict>
		<key>license_key</key>
		<string>T6MB-ZCMT-SB8E-Y2S4</string>
		<key>server_port</key>
		<string>443</string>
		<key>bitrate</key>
		<integer>750</integer>
		<key>host</key>
		<string> livestream.arevea.com</string>
		<key>buffer_time</key>
		<integer>2</integer>
		<key>port</key>
		<real>8554</real>
		<key>stream1</key>
		<string>stream1</string>
		<key>stream2</key>
		<string>stream2</string>
		<key>context</key>
		<string>live</string>
		<key>camera_width</key>
		<integer>640</integer>
		<key>camera_height</key>
		<integer>360</integer>
		<key>debug_view</key>
		<true/>
		<key>video_on</key>
		<true/>
		<key>audio_on</key>
		<true/>
		<key>hwaccel_on</key>
		<false/>
		<key>record_on</key>
		<false/>
		<key>append_on</key>
		<false/>
		<key>fps</key>
		<integer>15</integer>
		<key>sm_version</key>
		<string>4.0</string>
		<key>sm_access_token</key>
		<string>xyz123</string>
	</dict>
	<key>Tests</key>
	<dict>
		<key>subscribe</key>
		<dict>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe</string>
			<key>class</key>
			<string>SubscribeTest</string>
		</dict>
		<key>subscribe - Two Streams</key>
		<dict>
			<key>description</key>
			<string>Allows subscribing to both streams at once</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Two Streams</string>
			<key>class</key>
			<string>MultiStreamVC</string>
		</dict>
	</dict>
</dict>
</plist>
