<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558814553314-fqge6s77af4o2nh4oodgud8ek7218am2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558814553314-fqge6s77af4o2nh4oodgud8ek7218am2</string>
	<key>API_KEY</key>
	<string>AIzaSyBq0XM9JaFOrBzNTojUA4WReP_Bu2q84Vw</string>
	<key>GCM_SENDER_ID</key>
	<string>558814553314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techvedika.arevea</string>
	<key>PROJECT_ID</key>
	<string>areveatv-ef69b</string>
	<key>STORAGE_BUCKET</key>
	<string>areveatv-ef69b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:558814553314:ios:08b5576b88481167a06abb</string>
	<key>DATABASE_URL</key>
	<string>https://areveatv-ef69b.firebaseio.com</string>
</dict>
</plist>
