<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>228952785192-2eu379cjd3d27h6ondsg7p2mu3lng149.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.228952785192-2eu379cjd3d27h6ondsg7p2mu3lng149</string>
    <key>API_KEY</key>
    <string>AIzaSyBnUl4D1Hh_4vKj-h1WB3IVucDFOQisbUg</string>
    <key>GCM_SENDER_ID</key>
    <string>228952785192</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.prod.arevea</string>
    <key>PROJECT_ID</key>
    <string>arevea-tv</string>
    <key>STORAGE_BUCKET</key>
    <string>arevea-tv.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:228952785192:ios:8a460b01a5ea38108d501d</string>
    <key>DATABASE_URL</key>
    <string>https://arevea-tv.firebaseio.com</string>
</dict>
</plist>
